*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  
  @include mediaQuery(tab-land) {
    font-size: 56.25%;              // 1rem = 9px
  }

  @include mediaQuery(tab-port) {
    font-size: 50%;                 // 1rem = 8px
  }

  @include mediaQuery(big-desk) {
    font-size: 75%;                 // 1rem = 12px
  }
  
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-dark-grey;
  padding: 2rem;

  box-sizing: border-box;

  @include mediaQuery(tab-port) {
    padding: 0;
  }
}

a{
  display: inline-block;
  color: $color-white;
  text-decoration: none;
}