.heading-box {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  @include mediaQuery(phone) {
    margin-bottom: 4rem;
  }

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    font-weight: 400;

    animation: moveInLeft 1s ease-out;

    @include mediaQuery(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    position: relative;
    left: -4px;
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    font-weight: 400;

    animation: moveInRight 1s ease-out;

    @include mediaQuery(phone) {
      font-size: 1.6rem;
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary{
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-image: linear-gradient(to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  -o-background-clip: text;
  color: transparent;
  transition: all .2s linear .1s;

  @include mediaQuery(phone) {
    font-size: 2.2rem;
  }
}

.heading-tertiary{
  text-transform: uppercase;
  font-size: 1.6rem;
}

.paragraph{
  &:not(:first-child){
    margin-bottom: 3rem;
  }
}