.section-about {
  padding: 20rem 0 26rem 0;
  background-color: $color-light-grey-1;
  margin-top: -10rem;

  @include mediaQuery(tab-port) {
    padding: 16rem 0 14rem 0;
  }
}

.section-features {
  background-image: linear-gradient(to right bottom,
      rgba(126, 213, 111, 0.6),
      rgba(39, 180, 133, 0.6)),
    url('https://ik.imagekit.io/ml22hal4lxj/images/nat-4-small_IyO8DkyvB.jpg?updatedAt=1641269869492');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0;
  margin-top: -6rem;

  transform: skewY(-5deg);

  &>* {
    transform: skewY(5deg);
  }

  @include highResolution {
    background-image: linear-gradient(to right bottom,
        rgba(126, 213, 111, 0.6),
        rgba(39, 180, 133, 0.6)),
      url('https://ik.imagekit.io/ml22hal4lxj/images/nat-4_G1CaaJ7mu.jpg?updatedAt=1641269907173');
  }

  @include mediaQuery(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: $color-light-grey-1;
  margin-top: -6rem;

  @include mediaQuery(tab-port) {
    padding: 15rem 0 8rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include mediaQuery(tab-port) {
    padding: 8rem 0;
  }
}

.section-book {
  background-image: linear-gradient(to right bottom,
      $color-primary-light,
      $color-primary-dark);
  padding: 15rem 0;

  @include mediaQuery(tab-port) {
    padding: 8rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg,
      rgba($color-white, .8) 50%,
      transparent 50%),
    url('https://ik.imagekit.io/ml22hal4lxj/images/nat-10_zarXUF2Pq.jpg?updatedAt=1641269910276');
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba($color-black, .2);

  &__form {
    width: 50%;
    padding: 6rem;

    @include mediaQuery(tab-port) {
      width: 100%;
    }

    @include mediaQuery(phone) {
      padding: 4rem 3rem;
    }
  }

  @include mediaQuery(tab-port) {
    background-image: linear-gradient(to right,
        rgba($color-white, .8) 100%,
        transparent),
      url('https://ik.imagekit.io/ml22hal4lxj/images/nat-10-small_cXINos9X-.jpg?updatedAt=1641269871913');
  }
}