/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
Dark Grey: #777

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5463fa;

$color-light-grey-1: #f6f6f6;
$color-light-grey-2: #eee;

$color-dark-grey:#777;
$color-dark-grey-2:#999;
$color-dark-grey-3:#333;

$color-white:#fff;
$color-black:#000;


// Layout Spacing
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 8rem;