.composition{
  position: relative;

  &__photo{
    width: 55%;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 10px 40px rgba($color-black, .5);
    transition: all .2s ease .1s;
    outline-offset: 15px;

    @include mediaQuery(tab-port) {
      position: relative;
      float: left;  
      box-shadow: 0 5px 20px rgba($color-black, .5);
      width: 33.333333%;
    }

    &--ph-1{
      left: 1.2rem;
      top: -2rem;

      @include mediaQuery(tab-port) {
        top: 1rem;
      }
    }

    &--ph-2{
      right: 0;
      top: 1rem;
      
      @include mediaQuery(tab-port) {
        top: -.8rem;
        right: 0;
        z-index: 10;
      }
    }

    &--ph-3{
      left: 20%;
      top: 10rem;

      @include mediaQuery(tab-port) {
        top: 1rem;
        left: -1.2rem;
      }
    }
    
    &:hover{
      outline: 10px solid $color-primary;
      z-index: 5;
      transform: scale(1.05) translateY(-5px) ;
      box-shadow: 0 10px 40px rgba($color-black, .5);
    }
  }

  &:hover &__photo:not(:hover){
    transform: scale(.95);
  }
}