.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom,
      rgba(126, 213, 111, 0.6),
      rgba(39, 180, 133, 0.6)),
    url('https://ik.imagekit.io/ml22hal4lxj/images/hero_R2p4fgsb8_g.jpg?updatedAt=1641193559253');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  @include highResolution {
    background-image: linear-gradient(to right bottom,
      rgba(126, 213, 111, 0.6),
      rgba(39, 180, 133, 0.6)),
    url('https://ik.imagekit.io/ml22hal4lxj/images/hero_R2p4fgsb8_g.jpg?updatedAt=1641193559253');
  }

  @include mediaQuery(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}